<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.o`rg/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ape.apesystem.mapper.ApeUserMapper">
    <select id="getUserPage" resultType="apeUser">
        select
            u.id, u.dept_id, u.login_account, u.user_name,u.name,u.cover_img,
            u.email, u.avatar, u.tel, u.sex, u.status, u.del_flag,
            u.login_ip, u.login_date, u.create_by, u.create_time, u.remark, d.dept_name
        from ape_user u
        left join ape_dept d on u.dept_id = d.id
        <where>
            1=1
            <if test="ew.userName != null and ew.userName != ''">
                and u.user_name like concat('%',#{ew.userName},'%')
            </if>
            <if test="ew.tel != null and ew.tel != ''">
                and u.tel like concat('%',#{ew.tel},'%')
            </if>
            <if test="ew.status != null">
                and u.status = #{ew.status}
            </if>
            <if test="ew.userType != null">
                and u.user_type = #{ew.userType}
            </if>
            <if test="ew.open != null">
                and u.open = #{ew.open}
            </if>
            <if test="ew.city != null">
                and u.city like concat('%',#{ew.city},'%')
            </if>
            <if test="ew.business != null">
                and u.business like concat('%',#{ew.business},'%')
            </if>
            <if test="ew.deptId != null and ew.deptId != ''">
                and u.dept_id = #{ew.deptId}
            </if>
            and u.del_flag = 0 order by u.create_time desc
        </where>
    </select>
    <select id="getUserSalePage" resultType="map">
        select sum(price) as price,u.user_name as userName,u.login_account as loginAccount from ape_order o left join ape_user u
        on o.user_id = u.id
        <where>
            1=1
            <if test="userName != null">
                and u.user_name like concat('%',#{userName},'%')
            </if>
            <if test="id != null">
                and o.shop_id = #{id}
            </if>
        </where>
        group by o.user_id order by price
    </select>
    <select id="getUserDianCaiPage" resultType="map">
        select o.user_id as userId,u.login_account as loginAccount,u.user_name as userName from ape_order o left join ape_user u
        on o.user_id = u.id
        <where>
            1=1
            <if test="userName != null">
                and u.user_name like concat('%',#{userName},'%')
            </if>
            <if test="id != null">
                and o.shop_id = #{id}
            </if>
        </where>
        group by o.user_id
    </select>
    <select id="getMaxFood" resultType="map">
        select max(o.num) as maxNum,ANY_VALUE(o.foodName) as foodName from
        (select count(*) as num,ANY_VALUE(food_name) as foodName from ape_order where user_id = #{userId}
        group by food_id) o
    </select>
</mapper>